.descriptionBlock {
    margin-top: 320px;
    margin-bottom: 6%;
}

.descriptionTitle {
    position: relative;
    margin-left: 10%;
}

.descriptionTitle p {
    font-size: 30px;
}

.descriptionRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 25px;
}

.descriptionContainer p {
    font-size: 20px;
    margin: 0px;
}

.checkIcon {
    height: 40px;
    width: 40px;
}

@media (max-width: 577px) {
    .descriptionBlock {
    margin-top: 40%;
    margin-bottom: 6%;
    }
    .descriptionTitle p {
    font-size: 22px;
    }
    .descriptionRow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 10px 10px 20px;
    }
    .descriptionContainer p {
    font-size: 16px;
    margin: 0px 0px 0px 9px;
    width: 70vw;
    text-align: unset;
    }
}