.HouseCardLarge:hover {
    cursor: pointer;
}

.HouseCardLarge {
    width: 16rem;
    background-color: white!important;
    border-radius: 4px!important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15)!important;
    border-color: whitesmoke!important;
    margin: 20px;
}

.card-body div {
    margin-bottom: 5px !important;
}

.cardAddress {
    font-size: 13px;
    color: gray;
}

.cardLink p:hover {
    background: #F4B659;
    border-color:  #F4B659;
}

.cardLink p {
    color: black;
    text-decoration: none!important;
    margin-top: 20px;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: fit-content;
    padding: 8px;
    background: #F5BE6A;
    border-color:  #F5BE6A;;
}
.cardImgWrapper{
    width: 255px;
    height: 230px;
    max-height: 350px;
    margin-right: 40px;
}
.cardImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cardPrice{
    font-size: 20px;
    font-weight: 600;
}
.card-body{
    background-color: whitesmoke;
}

@media (max-width: 577px) {
    .HouseCardLarge {
        width: 100%;
        background-color: white!important;
        border-radius: 4px!important;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2)!important;
        border-color: whitesmoke!important;
        margin: 15px;
    }
    .cardImgWrapper {
        width: 100%;
        height: 230px;
        max-height: 350px;
        margin-right: 40px;
    }
}