.HouseCardLarge:hover {
    cursor: pointer;
}

.HouseCardLarge {
    margin: 20px;
}

.card-body div {
    margin-bottom: 5px !important;
}

.cardAddress {
    font-size: 13px;
    color: gray;
}

.cardLink p {
    color: black;
    text-decoration: underline;
}