
.houseCardSmall {
    flex-direction: row!important;
    margin-top: 20px;
    width: 80vw;
    background-color: white!important;
    border-radius: 4px!important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15)!important;
    border-color: whitesmoke!important;
    border-radius: 4px;

}
.houseCardSmall:hover {
    cursor: pointer;
}

.titleHouseCardBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fixblock{
    width: 350px;
    height: 250px;
    max-height: 350px;
    margin-right: 20px;
}

.titleHouseCardText {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.adressHouseCard {
    font-size: 18px;
    color: gray;
}

.priceHouse {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.priceHouseSmall {
    display: none;
}

.favouriteButton {
    background-color: #00000000;
    border-style: none;
}
.linkToFavsSmall{
    display: none;
}
.buttonWrapper {
    display: flex;
}

.linkToAd {
    border: none;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
    margin-right: 10px;
    background: #F5BE6A;
}
.linkToAd:hover {
    background: #F4B659;
}
.linkToAd p {
    color: darkslategrey;
    text-decoration: none;
    margin-bottom: 0px;
}

.linkToFavs {
    padding: 5px;
}

.linkToFavs:hover {
    border: none;
    border-radius: 8px;
    width: fit-content;
    margin-right: 10px;
    background: lightgrey;
    padding: 5px;
}

.textFavs {
    text-decoration: none;
    color: black;
}

.imageHouseCard {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 920px) {
    .houseCardSmall {
        flex-direction: column!important;
    }
}

@media (max-width: 577px) {
   .houseCardSmall {
        display: flex!important;
        flex-wrap: nowrap;
        width: 100%;
    }
    .priceHouse {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }
    .fixblock {
        width: inherit;
        height: 250px;
        max-height: 350px;
    }
    .titleHouseCardBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .titleHouseCardText {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    .adressHouseCard {
        font-size: 16px;
        color: gray;
    }
    .linkToFavsSmall {
        display: block;
        position: absolute;
        right: 5px;
        top: 10px;
    }
    .linkToFavs {
        display: none;
    }
    .linkToAd {
        border: none;
        border-radius: 8px;
        width: fit-content;
        padding: 8px;
        margin-right: 10px;
        margin-top: 15px;
        background: #F5BE6A;
    }

}

