.HouseCardLarge:hover {
    cursor: pointer;
}

.HouseCardLarge {
    margin: 20px;
}

.card-body div {
    margin-bottom: 5px !important;
}

.cardAddress {
    font-size: 13px;
    color: gray;
}

.cardLink p {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
}
.cardImgWrapper{
    width: 255px;
    height: 230px;
    max-height: 350px;
    margin-right: 40px;
}
.cardImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cardPrice{
    font-size: 20px;
    font-weight: 600;
}
.card-body{
    background-color: whitesmoke;
}