.SchoolCard {
    margin: 25px;
}

.SchoolCard:hover {
    cursor: pointer;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    background-color: white;
}

.card-body div {
    margin-bottom: 5px !important;
}

.ListSchoolCards {
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
}

.schoolName {
    font-weight: bold;
    font-size: 17px;
}

.nearbySchools {
    margin-left: 10px;
    font-size: 13px;
}

.cardAddress {
    font-size: 17px;
    color: gray;
}

.cardLink p {
    font-size: 15px;
    color: black;
    text-decoration: underline;
}
.cardImgWrapperSchool{
    width: 287px;
    height: 230px;
    max-height: 350px;
}
.cardImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}