.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.imgWrapper{
    width: 70vh;
    max-height: 400px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.cardImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.headerInfoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 30vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainContainer{
    margin-top:-10px;
}

.titleSell {
    font-size: 25px;
}

.price {
    font-size: 22px;
    border-width: 1px;
    border-style: none;
    border-color:gray;
    border-radius: 8px;
    width:fit-content;
    padding: 8px;
}

.description {
    font-size: 25px;
}

.generalDescription {
    width: 50vw;
}

.descriptionObject {
    width: 50vw;
}

.apartmentDescription {
    display: flex;
    flex-direction: column;
}

.houseDescription {
    display: flex;
    flex-direction: column;
}

.apartmentDescription span, .houseDescription span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.mainWrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
