.mainContainer {
    background-size: cover;
    background-image: url("../components/images/main.jpeg");
    margin-top: -10px;
    /*height: 70vh;*/
}
.mainTextWrapper {
    position: absolute;
    left: 15%;
}

@media (max-width: 577px) {
    .mainContainer {
        background-image: none;
    }
}