.SpinnerMapLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

.SearchMapContainer {
    display: flex;
    position: relative;
}

.showListButton {
    position: absolute;
    z-index: 999;
    right: 20px;
    margin-top: 30px;
}

.showListButton button {
    border-color: gray !important;
    border-width: 2px !important;
}