.showMapRow {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 10px 0px;
}

.showMapRow button {
    background-color: white!important;
    border-radius: 4px!important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2)!important;
}

.showMapRow button:active {
    background-color: #F4B659 !important;
}

.showMapRow button:hover {
    background-color: lightgray !important;
}