.SpinnerMapLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    overflow-x: hidden;
}

.SearchMapContainer {
    display: flex;
    position: relative;
}

.showListButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 999;
    right: 20px;
    margin-top: 30px;
}

.showListButton button {
    margin-bottom: 10px;
    background-color: white!important;
        border-radius: 4px!important;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2)!important;
        border-color: whitesmoke!important;
}


.showListButton button:active {
    background-color: #F4B659 !important;
}

.showListButton button:hover {
    background-color: lightgray !important;
}
