.SpinnerMapLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
    overflow-x: hidden;
}

.SearchMapContainer {
    display: flex;
    position: relative;
}

.showListButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 999;
    right: 20px;
    margin-top: 30px;
}

.showListButton button {
    border-color: gray !important;
    border-width: 2px !important;
    margin-bottom: 10px;
}


.showListButton button:active {
    background-color: #F4B659 !important;
}

.showListButton button:hover {
    background-color: lightgray !important;
}