.headerContainer {
    --bs-bg-opacity: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entryBlock {
    justify-content: flex-end;
}

.navLinkHeader {
    display: flex;
    align-items: flex-end;
}

.toggleButtonHeader {
    background-color: white !important;
}

.toggleButtonHeader:focus {
    box-shadow: none !important;
}
.App-logo{
    width: 140px;
}

.favouritesBtn {
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: #00000000;
    border-style: none;
}

.favouritesImg {
    width: 40px;
    height: 40px;
}

.loginButton {
    width: 80px;
}

.registrationButton {
    width: 206px;
}

.loginButton, .registrationButton {
    border-radius: 10px;
    border-width: 2px;
    border-color: gray;
    background-color: white;
    border-style: solid;
    margin: 5px;
    height: 40px;
}

.loginButton:hover, .registrationButton:hover {
    background-color: lightgray !important;
    color: black;
}

.loginButton:active, .registrationButton:active {
    color: black;
    border-color:black;
    background-color: #F4B659 !important;
}