.filtersContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.filtersList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.priceButton {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 210px;
}

.filtersButton {
    
}

.filtersButton button {
    border-radius: 0px;
    height: 45px;
}

.typeHousFilter {
    margin: 5px 0px 5px 15px;
}

.schoolListFilter {
    max-height: 300px; 
    width: 200px;
    padding: 10px 15px 10px 15px;
    overflow-y: auto; 
}

.timeSchoolFilter {
    margin: 5px 0px 5px 15px;
}

.numberRoomsFilter {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 0px 15px;
}

.numberRoomsFilter .form-check {
    margin-right: 5px;
}

.filtersFirstButton button {
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 45px;
}

.filtersLastButton button {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 45px;
}

.searchButton {
    border-radius: 13px;
    margin-top: 90px;
    margin-bottom: 70px;
    width: 220px;
    height: 60px;
}

.priceButton .form-control, .priceButton .form-floating,
 .priceButton .form-select {
    width: 50px;
    height: 45px;
}

.priceButton .form-control, .priceButton .input-group-text{
    border-radius: 0px;
}
