.filtersOffcanvas {
    height: 100vh !important;
}

.navbar {
    flex-direction: column;
}


.bg-body-tertiary {
    --bs-bg-opacity: 0 !important;
}

.toggleButtonFilter:active {
    background-color: #F4B659 !important;
}

.toggleButtonFilter:focus {
    box-shadow: none !important;
}

.priceButton {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 260px;
}

.filtersButton {

}

.wrapper {
    width: max-content;
    position: relative;
    top: 390px;
    background-color: white!important;
    border-radius: 4px!important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15)!important;
    border-color: whitesmoke!important;
    padding: 30px;
}

.filtersButton button {
    border-radius: 0px;
    height: 45px;
}

.typeHousFilter {
    margin: 5px 0px 5px 15px;
}

.schoolListFilter {
    max-height: 250px; 
    width: 200px;
    padding: 10px 15px 10px 15px;
    overflow-y: auto; 
}

.timeSchoolFilter {
    margin: 5px 0px 5px 15px;
}

.numberRoomsFilter {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 0px 15px;
}

.numberRoomsFilter .form-check {
    margin-right: 5px;
}

.materialFilter {
    margin: 5px 0px 0px 15px;
    width: 170px;
}

.floorFilter {
    margin: 5px 15px 0px 15px;
    width: 150px;
}

.yearFilter {
    margin: 5px 15px 0px 15px;
    width: 180px;
}

.filtersFirstButton button {
    height: 50px;
    border-radius: 4px;
    border-right: 1px solid lightgrey;
    padding:10px 35px 10px 10px;
}

.filtersFirstButton button:hover {
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersFirstButton button:active {
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersFirstButton button:focus {
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersButton button {
    height: 50px;
    border-radius: 4px;
    border-right: 1px solid lightgrey;
    padding:10px 35px 10px 10px;
}

.filtersButton button:hover {
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersButton button:active{
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersButton button:focus {
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: whitesmoke!important;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.filtersLastButton button {
    height: 50px;
    border-radius: 4px;
    border-right: 1px solid lightgrey;
    padding:10px 35px 10px 10px;
}

.filtersLastButton button:hover:active{
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.filtersLastButtonMore {
    height: 50px;
    border-radius: 4px!important;
    border-left: 1px solid lightgrey!important;
    padding:10px 25px 10px 10px;
}

.filterImg {
    width: 30px;
}

.dropdown-menu.show {
    display: block;
    width: max-content;
    padding-right: 10px;
}

.form-check-input:checked {
    background-color: #f4b659!important;
    border-color: #f4b659!important;
}

.searchButton:active {
    background-color: #F4B659 !important;
}

.priceButton .form-control, .priceButton .form-floating,
 .priceButton .form-select {
    width: 70px;
    height: 45px;
}

.priceButton .form-control, .priceButton .input-group-text{
    border-radius: 0px;
    border-width: 0px !important;
}

/*.filtersContainer {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/
/*.searchButton {*/
/*    margin: 20px 10px!important;*/
/*    padding: 15px 20px!important;*/
/*    align-self: flex-end;*/
/*}*/
/*.bottomWrapper{*/
/*    display: flex;*/
/*}*/
.mainTextWrapper{
    width: 70vw;
    margin-bottom: 20px;
}
.firstPart{
    text-align: left;
    font-size: 72px;
    color: white;
}
.secondPart{
    text-align: right;
    font-size: 72px;
    color: white;
}

.buttonBlock {
    background: white;
    position: relative;
    top: 390px;
    border-radius: 4px!important;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.15)!important;
    border-color: whitesmoke!important;
}

.firstButton {
    margin: 15px 20px!important;
    padding: 15px 20px!important;
    background-color: #B9BA8E!important;
}

.secondButton {
    margin: 15px 20px!important;
    padding: 15px 20px!important;
    background-color: #F5DFA6!important;
}

.callText {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    color: dimgrey;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid gray !important;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    /* align-self: end; */
    right: 12px;
    top: 25px;
}

@media (max-width: 1157px) {
    .firstPart {
        text-align: left;
        font-size: 48px;
        color: white;
    }
    .secondPart {
        text-align: right;
        font-size: 48px;
        color: white;
    }
}
@media (min-width: 1098px) {
    .toggleButtonFilter {
        display: none !important;
    }
}

@media (max-width: 1097px) {
    .toggleButtonFilter {
        display: block !important;
    }

}

@media (max-width: 576px) {
    .wrapper {
        background-color: #D5D5D5 !important;
    }
    .mainText {
        text-align: center;
        font-size: 72px;
        color: white;
    }
    .filtersFirstButton button {
        height: 45px;
        border-radius: 4px;
        border-right: 1px solid lightgrey;
        padding:10px 25px 10px 10px;
        margin-bottom: 10px;
        width: 90vw;
        text-align: unset;
    }
    .filtersButton button {
        height: 45px;
        border-radius: 4px;
        border-right: 1px solid lightgrey;
        padding:10px 25px 10px 10px;
        margin-bottom: 10px;
        width: 90vw;
        text-align: unset;
    }
    .filtersLastButton button {
        height: 45px;
        border-radius: 4px;
        border-right: 1px solid lightgrey;
        padding:10px 25px 10px 10px;
        margin-bottom: 10px;
        width: 90vw;
        text-align: unset;
    }
    .priceButton {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: 90vw;
        margin-bottom: 10px;
        }
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid gray !important;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        position: absolute;
        /* align-self: end; */
        right: 20px;
        top: 20px;
    }
}

@media (max-width: 468px) {
    .mainTextWrapper {
        display: none;
    }
    .firstPart {
        display: none;
        text-align: center;
        font-size: 48px;
        color: white;
    }
    .secondPart {
        display: none;
        text-align: center;
        font-size: 48px;
        color: white;
    }
}