.footerContainer {
    background-color: #25282C;
    padding: 1% 3% 0% 3%;
}

.footerContainer p, .footerContainer a {
    color: white;
}

@media (max-width: 767px) {
    .footerTitle {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .footerTitle {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .footerPolicyText {
        color: gray;
        font-size: 9px;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .footerPolicyText {
        color: gray;
        font-size: 11px;
        margin-bottom: 5px;
    }
}

.horizontalLine {
    color: white;
    margin-bottom: 10px;
}

.footerRow, .footerPolicy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .footerColumn {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .footerColumn {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .footerColumnSubscribe {
        font-size: 11px;
        width: 350px;
    }
}

@media (min-width: 768px) {
    .footerColumnSubscribe {
        font-size: 14px;
        width: 350px;
    }
}

.formEmail {
    margin-bottom: 5px;
}