.SearchMapContainer {
    display: flex;
    position: relative;
}

.MapContainer {
    height: 80vh;
    width: 60vw;
}

.showListButton {
    position: absolute;
    z-index: 99999;
    right: 10px;
    margin-top: 10px;
}

.closeButton {
    /* position: relative;
    right: 10px;
    margin-top: 10px; */
}

.ListHouseMap {
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-wrap: wrap;
    width: 40vw;
    height: 80vh;
    background-color: #E3E5E5;
    overflow-y: auto;
}