.popoverButton {
    background-color: white !important;
    color: black !important;
    height: 32px;
    width: 32px;
    padding: 0px !important;
}

.popoverHeader {
    background-color: white !important;
}

.popoverBody {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px !important;
}

.popoverBody span {
    display: flex;
}

.homeMarker, .schoolMarker {
    margin-right: 5px;
    width: 26px;
    height: 26px;
}